//- includes/header.pug
head
	meta(charset='utf-8')
	title Prevence a řešení úrazů dětí
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(property="og:type" content="")
	meta(property="og:title" content="")
	meta(property="og:description" content="Dítě v bezpečí není mýtus - online kurz první pomoci pro děti")
	meta(property="og:image" content="img/share.jpg")
	style
		include ../css/style.min.css