doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			include includes/mixins.pug
			//- +lesson(LessonName, VideoLink, NextLessonSlug)
			+lesson('4. Volání o pomoc', 'co7yTbCI7yM', '/5-vdechnuti-ciziho-predmetu.html')
			
		include includes/footer.pug