doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			include includes/mixins.pug
			//- +lesson(LessonName, VideoLink, NextLessonSlug)
			+lesson('5. Vdechnutí cizího předmětu', 'UimJNvvSGss', '/6-zastava-dechu.html')
			
		include includes/footer.pug
		