doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			include includes/mixins.pug
			//- +lesson(LessonName, VideoLink, NextLessonSlug)
			+lesson('6. Zástava dechu', 'V4lwv8aPhI4', '/7-masivni-krvaceni.html')
			
		include includes/footer.pug
		