doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			include includes/mixins.pug
			//- +lesson(LessonName, VideoLink, NextLessonSlug)
			+lesson('7. Masivní krvácení', 'BhFJAwGghI0', '/8-domaci-lekarnicka.html')
			
		include includes/footer.pug
		